{#
/**
* @file
* The default e-mails for cron task check (sales alert) in ek_admin.
*/
#}
<style type="text/css">
    table {
        width:800px;
        cellpadding:0;
        cellspacing:0;
        padding-left:10px;
    }    
    table tr td {
        font-family: Arial;
    }

</style>
<table width="800px" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td style='font-size:1.5em;padding:20px;vertical-align: bottom;'>{{ message.options.site }}</td>
                <td ><img class="img-responsive" style="width:130px;float:right;" src="{{ message.options.logo }}" />
                </td>
            </tr>
        </tbody>
</table>
<hr/>

<p style="font-size: 12px;color:#5a5959;">
                    {{ 'Dear'|t }} {{ message.options.name }}, {{ 'this is an automated alert about sales document'|t }} :
</p>

<table width=50% border=0>
<tr>
<td style="background-color:#ffc8c8;">{{ 'Document(s) reference'|t }} :</td>
</tr>
<tr>
    <td><ul>
    {% for key,item in message.options.data %}
        <li> <a href='{{ item.link }}'>{{ item.serial }}</a> ({{ item.due }}) </li>
        {% endfor %}
        </ul>
</td>
</tr>
</table>

<hr/>
<p style='font-size:0.8em;'>{{ message.options.stamp }}</p>

    
</div>
<br/>
<br/>
<div style='font-size:0.7em;color:#818181;'>
    <i>Management solution by <a href="http://ek.arrea-systems.com">EK</a></i>
</div>
